/*********************************/
/***      MEDIA QUERIES        ***/

/* para Navegadores PC pantallas pequeñas o restauradas */
@media (min-width: 769px) and (max-width: 1224px) {
    /*Se vanca todo el responsive con el % de card*/
    /*  porque esta bien hecho con % muchas de las coas */ 
    .User__Card{
        width: 60%;
    }    
    .User__CntNuevaCuenta p{
        font-size:2.5em;
    }
}

/* para Tablets Ipads  van de 455 a 768px*/
@media (min-width: 455px) and (max-width:768px) {
    .User__Card{
        width: 75%;
    }
    /* el titulo del fomr */
    .User__CntNuevaCuenta p{
        font-size:2em;
    }
    .User__FormCuenta label {
        font-size: 1.1em;
    }
    .User__CamposEntrada{
       font-size: 1.05em;
    }
    /* para el espacioado de los campos*/
    .User__container-input {
        margin: 7% 0px;
    }    
    
}

/* Para moviles */
@media (min-width: 0px) and (max-width:454px) {
    .User__Card{
        width: 90%;
    }
    /* el titulo del fomr */
    .User__CntNuevaCuenta p{
        font-size:1.6em;
    }
    .User__FormCuenta label {
        font-size: 0.95em /*1.04em;*/
    }
    .User__CamposEntrada{
       font-size: 0.86em /*0.87em;*/
    }
    /* para el espacioado de los campos*/
    .User__container-input {
        margin: 7% 0px;
    }    
    .User__Submit{
      font-size: 1.26em;     
    }
 }
