@import url('../../_base.css');

/* * {

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif , cursive;
} */

/* recordar que no va el body {} */

.User__PortadaUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* pruebas de width y height*/
    /* width: 100%;
    height: 100%; */
    margin-top: 7%;
    margin-bottom: 7%;
    /* pruebo color de fondo*/
    /* background-color: red; */
    /* opacity: 0.90; */
}

.User__Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* saco el height para que tome hasta el final */
    /* height: 60%; */ 
    padding: 1% 2% 1% 2%;
    /* border: solid;
    border-color:gray; */
    /* background-color: rgba(79, 84, 73, 0.5);
    background-color: rgba(119, 83, 57, 0.5);
    background-color: rgba(119, 83, 57, 0.9); */
    background-color: var(--color-fondo-cards);
    border-radius:20px;
    /* color: green; */
    box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.75);
}

.User__ImagenUsuario{
    margin: 0px
}
.User__ImagenUsuario img{
    width: 70px;
    height: 70px;
    margin-top: 3px;
    margin-bottom: 10px;
}

.User__CntNuevaCuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-bottom: 20px;
}
.User__CntNuevaCuenta p{
    margin-top: 0px;
    margin-bottom: 5px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* color:rgb(172, 174, 172);
    color:rgb(192, 147, 158);
    color:white; */
    color: var(--color-letra-secciones);
    /* la fuente */
    font-size:1.8rem;
    font-weight: bold;
}

.User__FormCuenta{
    width: 99%;
    /* margin-top: 1.5em;
    padding:  3% 5% 1% 5% ; */
    /* font-size: 1em;  tamaño letra cajas texto */
}

.User__FormCuenta label {
    /* font-family: 'Montserrat','Poppins', sans-serif; */
    /* color de los lavels del FormCuenta */
    /* color: rgb(172, 174, 172); */
    /* color: rgb(183, 213, 212); */
    /* color: white; */
    color: var(--color-letra-secciones);
    /* los labels delform */
    font-size: 1.2rem;
}

.User__CamposEntrada{
    /* height: 1.1em; */
    /* margin-top:1.1em;*/
    /* arriba, derecha, abajo , izquierda */
    padding: 0.8% 2.5% 0.6% 2.5%;
    /* Esto de abajo es lo mismo a lo de arriba */ 
    /* padding-top: 1.1%;
    padding-right: 2.5%; 
    padding-bottom: 0.6%;
    padding-left: 2.5%; */
    border-color:rgb(195, 194, 194);
    border-radius: 0px;
    font-size: 0.95rem;  /*antes con vanilla 1.3em*/ 
    color:rgb(0, 0, 0)
}
.User__container-input label{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}
.User__container-input{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 3% 0px;
    /* height: 2.5rem; */
 }
.User__container-input input{
    width: 75%;
    height: 2rem;
}

input::placeholder {
    /* color:rgb(175, 175, 175); */
    color:rgb(107, 104, 104);
    font-size: 0.9rem;
    font-style: italic;
  }
 
.User__CampoEntradaPass{
    font-weight:bolder;
}

.User__DivBotonera{
    display: flex;
    flex-direction: row;
    font-size:0.8rem ;
    /* font-weight: 500; no da bola aca */
    margin-bottom: 0.5rem;
}

.User__BotonAlta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:0px;
    margin-bottom: 1%;
    width: 100%;
    font-weight:900px;
    /* font-family: sans-serif;
    border-style: hidden; */
    /* border-color: grey; */
    /* border-radius: 10px;
    border:solid; */
}

.User__AHref_submit{
    width: 100%;
    height: 3rem;
    /* padding: 1% 3% 1% 3%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    /* font-weight: 700; */
}

.User__Submit{
    /* como ahora hay un solo botón de volver le doy un 50% de ancho, antes con 2 botones le daba un 100% */
    width: 50%;
    /* height: 2.5rem;   */
    /* manejo el ancho con el padding */ 
    /* padding: 1.5% 2% 5% 2%; */
    margin-top: 1.8rem;
    margin-bottom: 3rem;
    font-size: 1.3em; 
    font-weight: 500; 
    padding: 0.7%;
    /* font-weight:900 ; */
    align-items: center;
    border-radius: 60px;
    text-decoration: none;
    /* color:rgb(88, 61, 42);   */
    /* color:rgb(51, 36, 25);  */
    color:var(--color-letra-boton);
    /* border-color: rgb(153, 153, 153); */
    border-color: var(--color-boton-border);
    /* background-color: rgba(248, 255, 239, 0.5);
    background-color: rgba(75, 193, 248, 0.87); */
    /* background-color: rgb(134, 170, 115); */
    background-color:  var(--color-boton);
    /* border-style: hidden; */
}
.User__Submit:hover{
    cursor:pointer;
    /* background-color: rgb(51, 80, 34); */
    /* background-color: rgb(77, 128, 49); */
    background-color: var(--color-boton-hover);
    /* background-color: rgb(169, 216, 144); */
    /* color:white; */
    color: var(--color-letra-boton-hover);
}
