@import url('../../_base.css');

/* --------------- PARA EL NAV BAR -------------------------------------------------------------------*/
* {
    /* padding: 0px;
    margin: 0px; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif , cursive;
}

.ImagenCarritoNav {
    height: 85px; }
    @media (max-width: 1200px) {
        .ImagenCarritoNav{
            height: 70px; } }

/* .ElementoNavUsuario{
    font-size: 1.4em;
    color: white;
    text-decoration: none;
    cursor: default;
} */

/* .ElementoNav:hover{
    font-size: 1.7em;
    color:white;
    cursor: pointer;
} */

/*--------------FIN PARA EL NAV BAR -------------------------------------------------------------------*/

.Prd__Portada{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* pruebas de width y height*/
    /* width: 100%;
    height: 100%; */
    margin-top: 4%;
    margin-bottom: 4%;
    padding-bottom: 4%;
    /* pruebo color de fondo*/
    /* background-color: red; */
    /* opacity: 0.90; */
}

.Prd__Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    /* saco el height para que tome hasta el final */
    /* height: 60%; */ 
    /* padding: 1% 2% 2% 2%; */
    /* border: solid;
    border-color:gray; */
    /* background-color: rgba(119, 83, 57, 0.9); */
    background-color: var( --color-fondo-cards);
    border-radius:20px;
    /* color: green; */
    box-shadow: 0px 3px 24px 0px rgba(0,0,0,0.75);
    margin-top: 2%;
    margin-bottom: 3%;
    padding-bottom: 7%;
}

.Prd__ImagenUsuario{
    margin: 0px
}
.Prd__ImagenUsuario img{
    width: 100px;
    height: 100px;
    margin-top: 3px;
    margin-bottom: 15px;
}

.Prd__CntNuevaCuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* comento para que el carrito de abajo se vea mas grande en movil */
    width: 100%; 
    margin-bottom: 20px;
}
.Prd__CntNuevaCuenta p{
    margin-top: 20px;
    margin-bottom: 5px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
     color: var(--color-letra-secciones);
    /* la fuente */
    font-size:1.8em;
    font-weight: bold;
    /* margin: 0px; */
}

.Prd__FormCuenta{
    width: 99%;
    /* margin-top: 1.5em;
    padding:  3% 5% 1% 5% ; */
    /* font-size: 1em;  tamaño letra cajas texto */
}

.Prd__FormCuenta label {
    /* font-family: 'Montserrat','Poppins', sans-serif; */
    /* color de los lavels del FormCuenta */
    /* color: white; */
    color: var(--color-letra-secciones);
    /* los labels delform */
    font-size: 1.3em;
}

/* Estilos para los productos  ----------------------------------------------------------------------*/
.Prd__listProducts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    /* background-color: rgba(119, 83, 57, 0.9);
    background-color: rgba(119, 83, 57, 0.9); */
    background-color: var(--color-fondo-cards);
    background-color: transparent;
    /* margin-right: 7.5%; */
    /* padding: 8rem 0; */
    text-align: center; }
    .Prd__listProducts .Prd__principalWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .Prd__listProducts h2 {
      font-size: 1.7rem;
      color: #0c4ea2; }
    .Prd__listProducts ul {
      width: 100%;
      margin-top: 2rem;
      display: flex;
      flex-direction: row;
      /* justify-content: space-around; */
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
      @media (max-width: 1200px) {
        .Prd__listProducts ul {
          display: flex;
          flex-direction: row;
          /* justify-content: space-between; */
          justify-content: space-around;
          align-items: center } }
      .Prd__listProducts ul li {
        flex: 0 0 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* justify-content: space-around; */
        align-items: center;
        background: #ffffff;
        border-radius: 3rem;
        /* padding-top: 1rem;
        padding-bottom: 1rem; */
        /* pongo un espaciado en el card de los productos disponibles arriba 1rem y abajo 1rem , 0rem a los costados*/
        padding: 1rem 1.1rem 1rem 1.1rem;
        margin-bottom: 3%;
        box-shadow: 2px 0px 17px 2px rgba(0, 0, 0, 0.3);
        position: relative; }
        @media (max-width: 1200px) {
          .Prd__listProducts ul li {
            width: 300; } }
        @media (max-width: 575px) {
          .Prd__listProducts ul li {
            width: 280px; } }
        .Prd__listProducts ul li div {
          width: 14rem;
          height: auto; }
        .Prd__listProducts ul li span:first-of-type {
          color: #0c4ea2;
          text-transform: uppercase;
          font-size: 1.1rem;
          margin-top: 1.1rem; }
          @media (max-width: 1200px) {
            .Prd__listProducts ul li span:first-of-type {
              font-size: 1rem; } }
        .Prd__listProducts ul li span:last-of-type {
          color: #0c4ea2;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 700;
          margin: 1rem 0; }
        .Prd__listProducts ul li button {
          background: #f7de82;
          color: #000000;
          text-transform: uppercase;
          /*padding del boton comprar*/
          padding: 0.6rem 2.5rem;
          font-size: 0.8rem;
          font-weight: 700;
          font-family: 'Lato', sans-serif;
          border: none;
          border-radius: 1rem;
          cursor: pointer; }
          .Prd__listProducts ul li button.disabled {
            background: #f3f3f3;
            color: #ffffff;
            cursor: no-drop; }
        .Prd__listProducts ul li .outStock {
          background: #f01919;
          color: #ffffff;
          position: absolute;
          top: 1rem;
          z-index: 0;
          text-transform: uppercase;
          font-size: 1.3rem;
          /* padding: 0.8rem 0; */
         }
  
/* Fin Estilos para los productos -----------------------------------------*/

/* Cart List Estilos ------------------------------------------------------*/
.Prd__cartList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem 0rem 0rem; /*arriba derecha abajo izquierda */
    text-align: center;
    background: #f3f3f3; 
    width: 94%;
    border-radius: 60px;
    }
    
    .Prd__cartList .Prd__principalWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      width: 100%;
      margin-bottom: 2%;
    }
    .Prd__cartList h2 {
      font-size: 1.8rem;
      color: #0c4ea2; }
      @media (max-width: 1200px) {
        .Prd__cartList h2 {
          font-size: 1.4rem; } }
      @media (max-width: 800px) {
            .Prd__cartList h2 {
              font-size: 1.2rem; }
    }
    .Prd__cartList span {
      font-size: 1.5rem;
      color: #0c4ea2;
      /* color:red; */
      margin: 1.5rem 0 2rem 0; }
      @media (max-width: 1200px) {
        .Prd__cartList p {
          font-size: 7vw; } 
      }
      @media (max-width: 480px) {
        .Prd__cartList span {
          margin: 0.5rem 0rem 0.5rem 0rem; } 
      }
    .Prd__cartList .Prd__cart-wrapper {
      width: 80%;
      /* background: #ffffff;*/
      /* cambio el color para que quede igual al mas grande */
      background: #f3f3f3;  
      padding: 2rem;
      /* border-radius: 1rem; */
      /* para que el radius quede igual que el otro */
      border-radius: 60px;
      color: #0c4ea2; }
      @media (max-width: 1200px) {
        .Prd__cartList .Prd__cart-wrapper {
          width: 85%; 
          padding: 1.5rem;
         } }
       @media (max-width: 800px) {
          .Prd__cartList .Prd__cart-wrapper {
            width: 95%;
            padding: 1rem;
           } }
      @media (max-width: 480px) {
        .Prd__cartList .Prd__cart-wrapper {
          width: 100%; 
          padding: 0.3rem;
         } }
      .Prd__cartList .Prd__cart-wrapper .Prd__cart-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem; }
        .Prd__cartList .Prd__cart-wrapper .Prd__cart-item span {
          font-size: 1.4rem;
          font-weight: 700; 
          flex: none;
          margin-left: 25px; }
          @media (max-width: 1200px) {
            .Prd__cartList .Prd__cart-wrapper .Prd__cart-item span {
              font-size: 1.3rem; } }
          @media (max-width: 800px) {
                .Prd__cartList .Prd__cart-wrapper .Prd__cart-item span {
                  font-size: 1.2rem; } }
      .Prd__cartList .Prd__cart-wrapper .Prd__cart-item-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #0c4ea2; }
      .Prd__cartList .Prd__cart-wrapper .Prd__cart-item-content b {
            /* font-size: 1.2rem */
            margin-left: 60px; }
          @media (max-width: 1300px) {
            .Prd__cartList .Prd__cart-wrapper .Prd__cart-item-content b {
                margin-left: 30px; } }
          @media (max-width: 1150px) {
            .Prd__cartList .cart-wrapper .Prd__cart-item-content b {
                 margin-left: 20px; } } 
          @media (max-width: 1150px) {
            .Prd__cartList .cart-wrapper .Prd__cart-item-content b {
                 margin-left: 10px; } }    
          @media (max-width: 900px) {
            .Prd__cartList .cart-wrapper .Prd__cart-item-content b {
                    margin-left: 2px; } }  
        .Prd__cartList .Prd__cart-wrapper .Prd__cart-item-content span {
          color: rgb(80, 150, 216);
          font-size: 1.4rem;
          font-weight: 500;
          margin-left: 1.1rem;
          margin-right: 1.1rem; }
          @media (max-width: 1200px) {
            .Prd__cartList .Prd__cart-wrapper .Prd__cart-item-content span {
                font-size: 1.1rem; 
                margin-left: 0.5rem;
                margin-right: 0.5rem;} }
          @media (max-width: 800px) {
                    .Prd__cartList .Prd__cart-wrapper .Prd__cart-item-content span {
                        font-size: 0.9rem;
                        margin-left: 0.3rem; 
                        margin-right: 0.3rem;
                        flex:auto
                    } }
      .Prd__cartList .Prd__cart-wrapper .Prd__item-img {
        width: 100px;
        margin-right: 30px; }
      .Prd__cartList .Prd__cart-wrapper .Prd__total-items {
        display: flex;
        justify-content: flex-end;
        font-size: 1.6rem;
        border-top: 1px solid #0c4ea2;
        margin-top: 2rem;
        padding-top: 1rem; }
      .Prd__cartList .Prd__cart-wrapper .Prd__total-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end; }
      .Prd__cartList .Prd__cart-wrapper button {
        background: #f7de82;
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
        border: none;
        border-radius: 1rem;
        padding: 1rem 2rem;
        margin-top: 0.5rem; }
        @media (max-width: 1200px) {
          .Prd__cartList .Prd__cart-wrapper button {
            font-size: 0.95rem; } }
        @media (max-width: 480px) {
            .Prd__cartList .Prd__cart-wrapper button {
                 font-size: 0.80rem; } }

  .Prd__Img-Prod-Carri {
      width: 75px;
      margin-right: 0.5rem;
  }
      @media (max-width: 1200px) {
        .Prd__Img-Prod-Carri {
          width: 70px; } }
      @media (max-width: 480px) {
        .Prd__Img-Prod-Carri {
              width: 57px; } }

/*FIN  Cart List Estilos ------------------------------------------------------*/


.Prd__DivBotonera{
    display: flex;
    flex-direction: row;
    font-size:0.8em ;
    width: 50%;
    /* font-weight: 500; no da bola aca */
}

.Prd__BotonAlta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:0px;
    width: 100%;
    font-weight:900px;
    /* font-family: sans-serif;
    border-style: hidden; */
    /* border-color: grey; */
    /* border-radius: 10px;
    border:solid; */
}

.Prd__AHref_Submit{
    width: 80%;
    height: 4em;
    padding: 5% 7% 5% 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
}

.Prd__Submit{
    /* como ahora hay un solo botón de volver le doy un 50% de ancho, antes con 2 botones le daba un 100% */
    width: 90%;
    /* height: 10vh;  manejo el ancho con el padding*/
    padding: 5% 2% 5% 2%;
    margin-top: 1em;
    margin-bottom: 2rem;
    font-size: 1.5em; 
    font-weight: bold; 
    /* font-weight:900 ; */
    align-items: center;
    border-radius: 60px;
    /* color:rgb(88, 61, 42);   */
    /* color:rgb(51, 36, 25);  */
    color: var(--color-letra-boton);
    /* border-color: rgb(153, 153, 153); */
    /* background-color: rgba(248, 255, 239, 0.5);
    background-color: rgba(75, 193, 248, 0.87); */
    /* background-color: rgb(134, 170, 115); */
    background-color: var(--color-boton);
    /* border-style: hidden; */
}
.Prd__Submit:hover{
    cursor:pointer;
    background-color: var( --color-boton-hover);
    color: var(--color-letra-boton-hover)
}
