@import url('./_base.css');

/* Esto lo agrego yo va siempre */
html, body {
  height: 100vh;
  width: 100vw;
  /* background-color: peru; */
  /* background-color: rgb(93, 155, 60); */
  /* background-color: peru;    */
  /* este color de fondo se carga en la previa cuando se carga a pagina Y tmb se ve como fondo despues de algunos 
  componentes*/ 
  background-color: var(--fondoVerdeKiwi);
}

body {
  margin: 0;
  /* este color de fondo se carga en la previa cuando se carga a pagina Y tmb se ve como fondo despues de algunos 
  componentes*/ 
  background-color: var(--fondoVerdeKiwi);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
